<!--

See `man launchd.plist`

-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.example.basic</string>

    <key>Program</key>
    <string>/Library/PrivilegedHelperTools/com.example.basic</string>

    <key>Sockets</key>
    <dict>
        <key>PrimarySocket</key>
        <dict>
            <key>SockPathName</key>
            <string>/var/run/com.example.basic</string>
        </dict>
    </dict>

    <key>StandardOutPath</key>
    <string>/var/log/com.example.basic.stdout</string>

    <key>StandardErrorPath</key>
    <string>/var/log/com.example.basic.stderr</string>
</dict>
</plist>
